{% extends 'navbar.html' %}

{% block title_block %}{{title}}{% endblock title_block %}

{% block css_block %}{% endblock css_block %}


{% block body_block %}

{% if search %}

{% for user in result %}
<div class="row">
<div class="col-sm-2">
{% if user.user_profile.profile_pic %}

          
            <img
              src="/media/{{user.user_profile.profile_pic}}"
              width="75px"
              alt="image"
              class="rounded-circle"
              height="75px"
            />
         

          {% else %}
        
            <img
              src="/media/dp.jpg"
              width="75px"
              alt="image"
              class="rounded-circle"
              height="75px"
          />

          {% endif %}
</div>
<div class="col-sm-10">
<a href="{% url 'App_Login:user' username=user.username %}"> {{user.username}}</a>
  
<br>
{{user.user_profile.full_name}}
 

</div>

</div>

{% endfor %}

{% else %}


{% endif %}

{% endblock body_block %}