<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>Holiday Trip</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
     <script type="text/javascript"  src="js/jquery-2.1.1.min.js"></script>
     <script  type="text/javascript" src="js/bootstrap.min.js"></script>
     <link rel="stylesheet" type="text/css" href="css/style.css" media="all">
	 <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
       
 
</head>

<body>
<section id="header">
 <div class="container">
  <div class="row">
   <div class="col-sm-12 header">
    <div class="col-sm-7 header_left">
	 <div class="col-sm-12 header_left_1">
	  <div class="col-sm-2"></div>
	  <div class="col-sm-9 header_left_2">
	   <ul>
	    <li><a href="index.html"><i class="fa fa-eye"></i><i class="fa fa-eye"></i> holiday<span class="add">trip'</span></a></li>
		<li class="know">how better<i class="fa fa-dot-circle-o"></i> read better<i class="fa fa-dot-circle-o"></i> way better</li>
	   </ul>
	  </div>
	 </div>
	</div>
	<div class="col-sm-5 header_right">
	 <div class="col-sm-12 header_right_main">
	 <ul>
	 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil-square"></i>Review <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">dolor </a></li>
                        <li><a href="#">consectetur  dolor</a></li>
                        <li><a href="#">adipiscing elit here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Integer nec</a></li>
                        <li class="divider"></li>
                        <li><a href="#"> Odio Praesent libero</a></li>
                    </ul>
                </li>
	 <li class="join"><a href="#">Join</a></li>
	 <li class="log"><a href="#">Login</a></li>
	 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-cog"></span>Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="glyphicon glyphicon-off"></span>Logout</a></li>
                    </ul>
                </li>
	<li class="flag"><i class="fa fa-flag"></i></li>
	 </ul>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>
<section id="top">
 <div class="container">
  <div class="row">
   <div class="col-sm-12 top">
    <ul>
	<li><a class="color_1" href="index.html">Home</a></li>
	<li><a class="color_1" href="view-deals.html">View-Deals</a></li>
	 <li><a class="color_1" href="details.html">Details</a></li>
	 <li><a class="color_1  active_1" href="contact.html">Contact</a></li>
	 <li><a class="color_1" href="pages.html">Pages</a></li>
	 <li class="dropdown">
          <a href="#" class="dropdown-toggle color_1" data-toggle="dropdown">More <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
	</ul>
   </div>
   <div class="col-sm-12 top_2">
   <div class="col-sm-1"></div>
	<div class="col-sm-4 top_2_left">
	 <input type="text" name="email" value="" class="form-control input-lg" placeholder="Find:Hotel,Restourant,Things to do">
	</div>
	<div class="col-sm-4 top_2_middle">
	 <input type="text" name="email" value="" class="form-control input-lg" placeholder="Near:Enter a destination">
	</div>
	<div class="col-sm-2 top_2_right">
	  <a href="#"><i class="fa fa-search"></i>Search</a>
	 </div>
	 <div class="col-sm-1"></div>
   </div>
   <div class="col-sm-12 top_last top">
     <nav class="navbar">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><i class="fa fa-eye"></i><i class="fa fa-eye"></i> holiday<span class="add">trip'</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
				<li><a class="color_1" href="index.html">Home</a></li>
				<li><a class="color_1" href="view-deals.html">View-Deals</a></li>
				 <li><a class="color_1" href="details.html">Details</a></li>
				 <li><a class="color_1  active_1" href="contact.html">Contact</a></li>
				 <li><a class="color_1" href="pages.html">Pages</a></li>
				 <li class="dropdown">
					  <a href="#" class="dropdown-toggle color_1" data-toggle="dropdown">More <b class="caret"></b></a>
					  <ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="#">Separated link</a></li>
					  </ul>
					</li>
                </ul>
				 
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
   </div>
  </div>
 </div>
</section>

<section id="contact">
   <div class="container">
     <div class="row">
	   <div class="col-sm-12">
	     <div class="contact">
	     <h1 class="text-center">Contact</h1>
		 </div>
	   </div>
	   <div class="col-sm-12">
	    <div class="col-sm-6">
		  <div class="contact_center">
		   <form role="form" id="contact-form" class="contact-form bv-form" novalidate="novalidate"><button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                    <div class="row">
                		<div class="col-md-6">
                  		<div class="form-group has-feedback">
                            <input type="text" class="form-control" name="Name" autocomplete="off" id="Name" placeholder="Name" data-bv-field="Name"><i class="form-control-feedback bv-no-label" data-bv-icon-for="Name" style="display: none;"></i>
                  		<small class="help-block" data-bv-validator="notEmpty" data-bv-for="Name" data-bv-result="NOT_VALIDATED" style="display: none;">The Name is required and cannot be empty</small></div>
                  	</div>
                    	<div class="col-md-6">
                  		<div class="form-group has-feedback">
                            <input type="email" class="form-control" name="email" autocomplete="off" id="email" placeholder="E-mail" data-bv-field="email"><i class="form-control-feedback bv-no-label" data-bv-icon-for="email" style="display: none;"></i>
                  		<small class="help-block" data-bv-validator="notEmpty" data-bv-for="email" data-bv-result="NOT_VALIDATED" style="display: none;">The email address is required</small><small class="help-block" data-bv-validator="emailAddress" data-bv-for="email" data-bv-result="NOT_VALIDATED" style="display: none;">The email address is not valid</small></div>
                  	</div>
					<div class="col-md-6">
                  		<div class="form-group has-feedback">
                            <input type="url" class="form-control" name="URL" autocomplete="off" id="url" placeholder="URl" data-bv-field="url"><i class="form-control-feedback bv-no-label" data-bv-icon-for="email" style="display: none;"></i>
                  		<small class="help-block" data-bv-validator="notEmpty" data-bv-for="email" data-bv-result="NOT_VALIDATED" style="display: none;">The email address is required</small><small class="help-block" data-bv-validator="emailAddress" data-bv-for="email" data-bv-result="NOT_VALIDATED" style="display: none;">The email address is not valid</small></div>
                  	</div>
					<div class="col-md-6">
                  		<div class="form-group has-feedback">
                            <input type="subject" class="form-control" name="subject" autocomplete="off" id="subject" placeholder="Subject" data-bv-field="subject"><i class="form-control-feedback bv-no-label" data-bv-icon-for="email" style="display: none;"></i>
                  		<small class="help-block" data-bv-validator="notEmpty" data-bv-for="email" data-bv-result="NOT_VALIDATED" style="display: none;">The email address is required</small><small class="help-block" data-bv-validator="emailAddress" data-bv-for="email" data-bv-result="NOT_VALIDATED" style="display: none;">The email address is not valid</small></div>
                  	</div>
                  	</div>
                  	<div class="row">
                  		<div class="col-md-12 massage">
                  		<div class="form-group has-feedback">
                            <textarea class="form-control textarea form_1" rows="3" name="Message" id="Message" placeholder="Message" data-bv-field="Message"></textarea><i class="form-control-feedback bv-no-label" data-bv-icon-for="Message" style="display: none;"></i>
                  		<small class="help-block" data-bv-validator="notEmpty" data-bv-for="Message" data-bv-result="NOT_VALIDATED" style="display: none;">The Message is required and cannot be empty</small></div>
                  	</div>
                    </div>
                    <div class="row">
                    <div class="col-sm-12 send">
                  <button type="submit" class="btn main-btn pull-left button">Send</button>
                  </div>
                  </div>
                </form>
		 </div>
		</div>
		<div class="col-sm-6">
		 <img src="img/132.jpg" alt="abc" style="width:100%;">
		</div>
	   </div>
	   <div class="col-sm-12">
	    <div class="contact_l clearfix">
		  <div class="contact_l clearfix">
		  <div class="click_1 clearfix">
       <div class="menu_4_i clearfix">
	     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114964.53925916665!2d-80.29949920266738!3d25.782390733064336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b0a20ec8c111%3A0xff96f271ddad4f65!2sMiami%2C+FL%2C+USA!5e0!3m2!1sen!2sin!4v1530774403788" style="width:100%; height:400px; border:0" allowfullscreen="">
	   </iframe>
	   </div>
     </div>
		</div>
		</div>
	   </div>
	 </div>
   </div>
 </section>
<section id="footer_main">
<div class="container">
 <div class="row">
   <div class="col-sm-12 footer">
	   <div class="col-sm-9 footer_top">
	   <ul>
	    <li><a href="#"><i class="fa fa-eye"></i><i class="fa fa-eye"></i> holiday<span class="add_1">trip'</span></a></li>
		<li class="know_1">know better<i class="fa fa-dot-circle-o"></i> book better<i class="fa fa-dot-circle-o"></i> go betters</li>
	   </ul>
	   <p><a href="#">About Us | Write a review | Site Map | Owners & DMO/CVB | Business Advantage | Help Centre </a></p>
	   <h4>© 2013 Your Website Name. All rights reserved | Design by <a href="http://www.templateonweb.com">TemplateOnWeb</a></h4>
	  </div>
	  </div>
 </div>
</div>
</section>
</body>
</html>
