{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <section class="container header">
      <nav>
        <a href="/"
          ><img src="{% static 'images/invoice.png' %}" alt="Logo" width="50px"
        /></a>
        <div class="nav-links" id="navLinks">
          <ul class="">
            <li>
              <a href="{% url 'App_Order:order' %}">Order</a>
            </li>
          </ul>
        </div>
      </nav>
    </section>
  </body>
</html>
